provider "openstack" {
  auth_url    = "{{ os_auth_url }}"
  tenant_name = "{{ tenant_id }}"
}

resource "openstack_db_instance_v1" "db_{{ tenant_id }}" {
  name      = "{{ tenant_id }}-database"
  flavor_id = "{{ flavor_id | default('1') }}"
  size      = {{ db_size | default(10) }}
}